<%= form_for @contact, html: { multipart: true } do |f| %>          
    <div class="panel-body">     
      <% if @contact.errors.any? %>
              <ul>
                <% @contact.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul> 

      <% end %>


      <div class="form-group">
        <%= f.label :firstname %> 
        <%= f.text_field :firstname, class: "form-control", style:"width : 66%" %>
      </div>

      <div class="form-group">
        <%= f.label :lastname, class: "control-label" %>  
         <%= f.text_field :lastname, class: "form-control" , style:"width : 66%" %> 
      </div>

      <div class="form-group">
        <div class="fields">
                <%$counta = 1%>
                <%= f.label :phone, class: "control-label", id: "formlabel" %> 
                <%= f.fields_for :phone do |ad| %>
                  <div class="form-group">
                    <%= render 'phone', f: ad %>
                  </div>
                  <% $counta = $counta + 1%>
                <% end %>
              </div> 
         <%= link_to_add_row('Add Phone',f,:phone , class: "btn btn-primary pull-centre")%>
      </div>

       <div class="form-group">
        <div class="fields2">
                <%$counta = 1%>
                <%= f.label :email, class: "control-label", id: "formlabel" %> 
                <%= f.fields_for :email do |ad| %>
                  <div class="form-group">
                    <%= render 'email', f: ad %>
                  </div>
                  <% $counta = $counta + 1%>
                <% end %>
              </div> 
               <%= link_to_add_row1('Add Email',f,:email , class: "btn btn-primary pull-centre")%>
        </div>

      <div class="form-group">
        <%= f.label :address %> 
        <%= f.text_field :address, class: "form-control",style:"width : 66%" %>
      </div>     
</div>
<div class="panel-footer">

    <div class="form-inline">
        <button type="submit" class="btn btn-primary">Save</button>
        <%= link_to "Cancel", contacts_path, class: "btn btn-danger" %>           
    </div>
<% end %>
