<%= form_for @contact, html: { multipart: true } do |f| %>          
    <div class="panel-body">

      
      <% if @contact.errors.any? %>

        <div class="row">
          <div class="col-md-12">
            <div class="alert alert-danger">
              <h3>Please correct this following errors:</h3>

              <ul>
                <% @contact.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>

      <% end %>

      <div class="form-horizontal">
        <div class="row">
          <div class="col-md-12">
             <div class="form-group">
              <%= f.label :firstname, class: "control-label col-md-3" %>               
              <div class="col-md-8">
                <%= f.text_field :firstname, class: "form-control" %>                
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <%= f.label :lastname, class: "control-label col-md-3" %>               
              <div class="col-md-8">
                <%= f.text_field :lastname, class: "form-control" %>                
              </div>              
            </div>
          </div>
        </div>
           

            
       
            <div class="fields">
              <%$count = 1%>
              <%= f.fields_for :phone do |builder| %>
                <div class="form-group">
                  <%= render 'phone', f: builder %>
                </div>
                <% $count = $count + 1%>
              <% end %>
            </div> 

             <div class="form-group">
              <div class="col-md-offset-3">
                <%= link_to_add_row('Add More Phone',f,:phone , class: "btn btn-primary pull-centre")%><br><br>
              </div>
             </div>


             <div class="fields2">
                <%$counta = 1%>
              <%= f.fields_for :email do |ad| %>
                <div class="form-group">
                  <%= render 'email', f: ad %>
                </div>
                <% $counta = $counta + 1%>
              <% end %>
            </div> 

            <div class="form-group">
              <div class="col-md-offset-3">
                <%= link_to_add_row1('Add More Email',f,:email , class: "btn btn-primary pull-centre")%><br><br>
              </div>
             </div>
                         
             <div class="form-group">
              <%= f.label :address, class: "control-label col-md-3" %>               
              <div class="col-md-8">
                <%= f.text_field :address, class: "form-control" %>                
              </div>              
            </div>
         











    <div class="form-group">
           <div class="row">
            <div class="col-md-offset-3 col-md-6">
              <button type="submit" class="btn btn-primary">Save</button>

             <%= link_to "Cancel", contacts_path, class: "btn btn-default" %>           
            </div>
          </div>
        </div>

</div>
<% end %>
</div>