<div class="panel panel-default">
    <div class="panel-heading">
     <h2><strong><%= @contact.firstname.capitalize %>  <%= @contact.lastname.capitalize %> </strong> </h2>
    </div> 
        
  <div class="panel-body">
        <div class="form-group">
        <label class="control-label">Phone</label> 
        
            <% @contact.phone.each do |b| %>
                  <div class="adderfield">
                      <label class="control-label"> <%= b.label %> : </label>            
                      <%= b.phone %>        
                  </div> 
            <% end %>
       
    </div>
    <hr>

    <div class="form-group">
        <label class="control-label">Email</label> 
        
            <% @contact.email.each do |b| %>
                  <div class="adderfield">
                      <label class="control-label"> <%= b.label %> : </label>            
                      <%= b.email %>        
                  </div> 
               
            <% end %>
        
    </div>
    <hr>

    <div class="form-group">
        <label class="control-label">Address</label> 
        <div><%= @contact.address %></div>
    </div>

    <div class="form-group">          
        <%= link_to "Edit", edit_contact_path, class: "btn btn-primary" %>
        <%= link_to "Delete", contact_path,:method => :delete, class: "btn btn-danger", title: "Delete", data: { confirm: "Are you sure ?" }%> 
         <%= link_to "Back", contacts_path, class: "btn btn-primary" %>            
    </div>
</div>